{% extends "base.html" %}

{% block content %}

    <form action="/", method="POST">
        <label for="username">*User name:</label>
        <input type="text" name="username" value='{{username}}' /><br>
        <p class="error">{{username_error}}</p><br>
        <label for="password">*User password:</label>
        <input id="password" type="password" name="psw" value='{{psw}}' /><br>
        <p class="error">{{password_error}}</p><br>
        <label for="reenter">*Re-enter password:</label>
        <input id="reenter" type="password" name="verify" value='{{verify}}' /><br>
        <p class="error">{{reenter_error}}</p><br>
        <label for="email">E-mail address:</label>
        <input id="email" type="text" name="email" value='{{email}}' /><br>
        <p class="error">{{email_error}}</p><br>
        * - denotes required field<br>
        <br>
        <input type="submit"/>
    </form>



{% endblock %}